################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/Microsoft.Windows.CppWinRT.2.0.200316.3
/.vs/WinrtTestProject/v16
/.vs
/WinrtTestProject/Debug
